//  I will be adding at least 4 css variables.
//colors
$body-background-color: darkred;
$form-background-color: white;
$input-color: white;
$headlines-color: white;
body {
    background-color: $body-background-color;
}